.colon {
    opacity: 1;
}

.colon__flashing {
    animation: flashing 0.5s ease-in-out 0s infinite alternate both;
}

@keyframes flashing {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
